extends layout/layout
block content
    .controls
        a(href="javascript:document.rotate()") 
            em.mdi.mdi-format-rotate-90
            | Rotate
        a(href="javascript:document.toggleSkin()") 
            em.mdi.mdi-lightbulb-outline
            | Dark Toggle
    canvas#canvas