@import 'vars';
@import 'resetter';
@import 'helpers';
@import 'placeholders';
@import 'third-party';
// COMMON
@import 'common';
// DEV PAGES
@import 'includes/dev-pages';

html {
    // code
    // 
    body {
        canvas#canvas {
            display: block;
            padding: 30px;
        }

        .controls {
            position: fixed;

            a {
                padding: 10px;
                display: inline-block;
                margin-right: -10px;
                transition: .4s;
                font: 400 16px/26px $bf;

                .mdi {
                    margin-right: 5px;
                }
            }
        }

        &[skin=dark] {
            background: #1e1e1e;

            a {
                color: #ccc;

                &:hover {
                    color: #fff;
                }
            }
        }

        &[skin=light] {
            background: silver;

            .controls {
                a {
                    color: $tc;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}